In [2]:
## PrimeNumbers

def is_prime(num):
  if num<=1:
    return false
  for i in range(2,int(num**0.5)+1):
    if num%i==0:
      return False
    else:
      return True

num=int(input("Enter a number: "))
if is_prime(num):
  print(f"{num} is a prime number")
else:
  print(f"{num} is not a prime number")

Enter a number: 21
21 is a prime number

In [7]:
## Product of Random Numbers

import random
num1=random.randint(1,10)
num2=random.randint(1,10)
print(f"what is {num1}*{num2}? ")
user_answer=int(input("Your Answer: "))
correct_answer = num1 * num2
if user_answer ==correct_answer:
  print("Your answer is Correct!")
else:
  print(f"Incorrect,the correct answer is {correct_answer} ")

what is 3*2?
Your Answer: 4
Incorrect,the correct answer is 6

In [17]:
##Squares of Even/Odd Numbers
for num in range(100, 201):
    if num % 2 != 1:
        print(f"{num}^2 = {num ** 2}")

100^2 = 10000
102^2 = 10404
104^2 = 10816
106^2 = 11236
108^2 = 11664
110^2 = 12100
112^2 = 12544
114^2 = 12996
116^2 = 13456
118^2 = 13924
120^2 = 14400
122^2 = 14884
124^2 = 15376
126^2 = 15876
128^2 = 16384
130^2 = 16900
132^2 = 17424
134^2 = 17956
136^2 = 18496
138^2 = 19044
140^2 = 19600
142^2 = 20164
144^2 = 20736
146^2 = 21316
148^2 = 21904
150^2 = 22500
152^2 = 23104
154^2 = 23716
156^2 = 24336
158^2 = 24964
160^2 = 25600
162^2 = 26244
164^2 = 26896
166^2 = 27556
168^2 = 28224
170^2 = 28900
172^2 = 29584
174^2 = 30276
176^2 = 30976
178^2 = 31684
180^2 = 32400
182^2 = 33124
184^2 = 33856
186^2 = 34596
188^2 = 35344
190^2 = 36100
192^2 = 36864
194^2 = 37636
196^2 = 38416
198^2 = 39204
200^2 = 40000

In [10]:
## Word Counter

def count_words(input_text):
  words=input_text.split()
  word_count={}
  for word in words:
    if word in word_count:
      word_count[word]+=1
    else:
      word_count[word]=1
  for word,count in word_count.items():
    print(f"'{word}':{count}")
input_text = " My Name is Lutheesh"
count_words(input_text)

'My':1
'Name':1
'is':1
'Lutheesh':1

In [15]:
## Check for Palindrome
import string
def is_palindrome(text):
  text = text.lower()
  cleaned = ''.join(char for char in text if char.isalnum())
  return cleaned==cleaned[::-1]
print(is_palindrome("racecar"))
print(is_palindrome("hello"))

True
False